In [37]:
import mysql.connector
import pandas as pd
import numpy as np

In [38]:
bus1=pd.read_csv("D:/CSV files redbus/ksrtc.csv")
bus2=pd.read_csv("D:/CSV files redbus/wbsrtc.csv")
bus3=pd.read_csv("D:/CSV files redbus/tgsrtc.csv")
bus4=pd.read_csv("D:/CSV files redbus/kctl.csv")
bus5=pd.read_csv("D:/CSV files redbus/rstc.csv")
bus6=pd.read_csv("D:/CSV files redbus/sbstc.csv")
bus7=pd.read_csv("D:/CSV files redbus/hrtc.csv")
bus8=pd.read_csv("D:/CSV files redbus/astc.csv")
bus9=pd.read_csv("D:/CSV files redbus/pepsu.csv")
bus10=pd.read_csv("D:/CSV files redbus/bsrtc.csv")

finalbus=pd.concat([bus1,bus2,bus3,bus4,bus5,bus6,bus7,bus8,bus9,bus10],ignore_index=True)
finalbus.head(10)

,Route_name,Route_link,Bus_name,Bus_type,Start_time,Total_duration,End_time,Ratings,Price,Seats_Available
0,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,KSRTC (Kerala) - 2133,Swift Deluxe Non AC Air Bus (2+2),22:10,09h 25m,07:35,4.3\n27,INR 640,8 Seats available
1,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,KSRTC (Kerala) - 574,Super Express Non AC Seater Air Bus (2+2),23:00,10h 40m,09:40,3.0\n35,INR 469,1 Seat available
2,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,KSRTC (Kerala) - 56,SWIFT-GARUDA A/C SEATER BUS,23:40,10h 20m,10:00,3.4\n56,INR 627,7 Seats available
3,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,Kyros Connect,Bharat Benz A/C Semi Sleeper (2+2),23:00,10h 00m,09:00,4.1\n341,INR 599,14 Seats available\n1 Window
4,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,DLT BUS,A/C Sleeper (2+1),22:30,09h 00m,07:30,4.2\n319,764,12 Seats available\n1 Single
5,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,MMK Travels,A/C Seater / Sleeper (2+1),22:30,09h 00m,07:30,4.6\n555,675,14 Seats available
6,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,AdSam Tourist,NON AC Seater / Sleeper 2+1,22:05,09h 00m,07:05,3.6\n151,569,19 Seats available\n2 Single
7,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,MMK Travels,A/C Sleeper (2+1),23:00,08h 30m,07:30,4.3\n22,INR 850,9 Seats available\n1 Single
8,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,National travels and logistics,A/C Sleeper (2+1),22:45,08h 15m,07:00,4.1\n87,690,12 Seats available\n5 Window
9,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,NS Transports,Non A/C Seater / Sleeper (2+1),21:45,08h 25m,06:10,4.1\n278,INR 699,11 Seats available\n3 Window

In [39]:
#replacing nan values
#finalbus = finalbus.where(pd.notnull(finalbus),None)
finalbus['Seats_Available'] = finalbus['Seats_Available'].fillna(0)
finalbus['Start_time'] = finalbus['Start_time'].fillna('00:00')
finalbus['End_time'] = finalbus['End_time'].fillna('00:00')
finalbus['Bus_name'] = finalbus['Bus_name'].fillna('Unknown')
finalbus['Total_duration'] = finalbus['Total_duration'].fillna('Unknown')
finalbus['Bus_type'] = finalbus['Bus_type'].fillna('Unknown')

In [40]:
#removing inr and converting to float
finalbus["Price"]=finalbus["Price"].str.replace("INR","").astype(float)
finalbus['Price'] = finalbus['Price'].fillna(0)

In [41]:
#removing no. of reviews from rating and converting it to float
finalbus["Ratings"]=finalbus["Ratings"].str.replace("New","")
finalbus["Ratings"]=finalbus["Ratings"].str.strip()
finalbus["Ratings"]=finalbus["Ratings"].str.split().str[0]
finalbus["Ratings"] = pd.to_numeric(finalbus["Ratings"], errors='coerce')
finalbus['Ratings'] = finalbus['Ratings'].apply(lambda x: 0 if pd.isna(x) else x)

In [42]:
#removing seat availble and converting it to integer
finalbus['Seats_Available'] = finalbus['Seats_Available'].str.extract('(\d+)')
finalbus['Seats_Available'] = pd.to_numeric(finalbus['Seats_Available'], errors='coerce')
finalbus['Seats_Available'] = finalbus['Seats_Available'].fillna(0).astype(int)

<>:2: SyntaxWarning: invalid escape sequence '\d'
<>:2: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Muhammed Salman\AppData\Local\Temp\ipykernel_27236\703586652.py:2: SyntaxWarning: invalid escape sequence '\d'
  finalbus['Seats_Available'] = finalbus['Seats_Available'].str.extract('(\d+)')

In [43]:
finalbus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6253 entries, 0 to 6252
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Route_name       6253 non-null   object
 1   Route_link       6253 non-null   object
 2   Bus_name         6253 non-null   object
 3   Bus_type         6253 non-null   object
 4   Start_time       6253 non-null   object
 5   Total_duration   6253 non-null   object
 6   End_time         6253 non-null   object
 7   Ratings          6253 non-null   float64
 8   Price            6253 non-null   float64
 9   Seats_Available  6253 non-null   int64
dtypes: float64(2), int64(1), object(7)
memory usage: 488.6+ KB

In [44]:
finalbus

,Route_name,Route_link,Bus_name,Bus_type,Start_time,Total_duration,End_time,Ratings,Price,Seats_Available
0,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,KSRTC (Kerala) - 2133,Swift Deluxe Non AC Air Bus (2+2),22:10,09h 25m,07:35,4.3,640.0,8
1,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,KSRTC (Kerala) - 574,Super Express Non AC Seater Air Bus (2+2),23:00,10h 40m,09:40,3.0,469.0,1
2,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,KSRTC (Kerala) - 56,SWIFT-GARUDA A/C SEATER BUS,23:40,10h 20m,10:00,3.4,627.0,7
3,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,Kyros Connect,Bharat Benz A/C Semi Sleeper (2+2),23:00,10h 00m,09:00,4.1,599.0,14
4,Bangalore to Kozhikode,https://www.redbus.in/bus-tickets/bangalore-to...,DLT BUS,A/C Sleeper (2+1),22:30,09h 00m,07:30,4.2,764.0,12
...,...,...,...,...,...,...,...,...,...,...
6248,Motihari to Lucknow,https://www.redbus.in/bus-tickets/motihari-to-...,MISHRA BANDHU BUS SERVICE,A/C Seater / Sleeper (2+1),16:55,11h 19m,04:14,3.1,899.0,15
6249,Motihari to Lucknow,https://www.redbus.in/bus-tickets/motihari-to-...,Baba Khatushyam Travels Pvt Ltd,A/C Seater / Sleeper (3+1),17:35,09h 25m,03:00,1.6,1199.0,36
6250,Motihari to Lucknow,https://www.redbus.in/bus-tickets/motihari-to-...,Travel Point World LLP,A/C Seater / Sleeper (2+2),18:20,09h 00m,03:20,1.6,2089.0,38
6251,Motihari to Lucknow,https://www.redbus.in/bus-tickets/motihari-to-...,Shree Balajee Travels And Cargo,A/C Seater / Sleeper (2+1),15:00,10h 00m,01:00,1.3,1709.0,47
6252,Motihari to Lucknow,https://www.redbus.in/bus-tickets/motihari-to-...,Shree Balajee Travels And Cargo,A/C Sleeper (2+1),21:31,06h 30m,04:01,1.3,1799.0,36

In [45]:
path=("D:/CSV files redbus/finalbus.csv")
finalbus.to_csv(path,index=False)

In [46]:
# Set up the connection to MySQL
connection = mysql.connector.connect(
    host="localhost",          
    user="root",               
    password="5678"     
)
# Check if the connection was successful
if connection.is_connected():
    print("Successfully connected to the database!")
else:
    print("connection closed")

cursor=connection.cursor()

cursor.execute("CREATE DATABASE IF NOT EXISTS redbus")

Successfully connected to the database!

In [47]:
cursor.execute("USE redbus")
cursor.execute('''CREATE TABLE IF NOT EXISTS bus_routes(id INT AUTO_INCREMENT PRIMARY KEY, 
               Route_name VARCHAR(255), 
               Route_link VARCHAR(255), 
               Busname VARCHAR(255), 
               Bustype VARCHAR(255), 
               Start_time TIME,
               Total_duration VARCHAR(255),
               End_time TIME, 
               Ratings FLOAT,
               Price FLOAT,
               Seats_Available INT)''')

print("Table Created successfully")

Table Created successfully

In [48]:
insert='''INSERT INTO bus_routes(
                    Route_name,
                    Route_link,
                    Busname,
                    Bustype,
                    Start_time,
                    Total_duration,
                    End_time,
                    Ratings,
                    Price,
                    Seats_Available)VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
data=[tuple(x) for x in finalbus.values]
cursor.executemany(insert, data)
connection.commit()
print("values inserted")
connection.close()

values inserted